pytest
werkzeug
pydub
pylint
black
fastapi
uvicorn
python-multipart
httpx
joblib
git+https://github.com/openai/whisper.git 
numpy
transformers==4.36.2
torch
torchvision
torchaudio
tiktoken
sentencepiece
